doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(charset='utf-8')
        title Star Warz
        link(rel='stylesheet', type='text/css', href='css/normalize.css')
        link(rel='stylesheet', type='text/css', href='css/style.css')
        script(type='text/javascript', src='js/jquery-3.2.1.min.js')
        script(type='text/javascript', src='js/script.js')
    body
        // HEADER
        header
            img#logo(src="images/logo.png" alt="logo")
        // PERS
        section#pers
            h2 Starr Wars personages
            #pers_section
        // FOOTER
        footer
            .bike
            h1.footer_h STAR WARS PERSONAGES

            .rights ©  ZOTURN
